.venv/\n__pycache__/\n*.pyc\n*.pyo\n*.pyd\n.Python\nbuild/\ndevelop-eggs/\ndist/\ndownloads/\neggs/\n.eggs/\nlib/\nlib64/\nparts/\nsdist/\nvar/\nwheels/\nshare/python-wheels/\n*.egg-info/\n.installed.cfg\n*.egg\nMANIFEST\n.pytest_cache/\ncoverage.xml\n*.cover\n*.py,cover\n.coverage\n.coverage.*\nhtmlcov/\n.cache\nnosetests.xml\ncoverage.xml\n*.log\n.env\n.venv\nENV/\nenv/\nvenv/\n.DS_Store\nThumbs.db
